.modal {
  :global .modal-dialog,
  :global .modal-content {
    height: 20rem;
  }
  :global .modal-body {
    overflow-y: hidden;
  }
  :global form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
